<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
  <title>RCTomatoe</title>
  <!-- bower:css -->
  <!-- endbower -->
  <!-- libs:css -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-app="rcTomatoe">

<div id="rcTomatoe" ng-controller="MainCtrl">
This is round number: {{roundNumber}}
<timer countdown="3" id="timer" interval="1000" finish-callback="finished()" autostart="false" ng-if="!pausa">{{minutes}} : {{seconds}}</timer> 
<timer countdown="2" id="timer" interval="1000" finish-callback="finished()" autostart="false" ng-if="pausa">{{minutes}} : {{seconds}}</timer> 
  <div id="controls">
    <button class="btn btn-green" ng-click="startTimer()">START</button>
    <button class="btn btn-green">STOP</button>
  </div>
  <div id="currentTask"></div>
</div>


	<!-- bower:js -->
  <!-- endbower -->
  <!-- libs:js -->
  <!-- endinject -->
  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>